@import "./assets/scss/custom_variables";
@import 'react-toastify/dist/ReactToastify.css';
@import "~bootstrap/scss/bootstrap";
@import "./assets/scss/custom";

.react-toast-notifications__container {
    z-index: 9999 !important;
}

::-webkit-input-placeholder {
    color: $gray-300 !important;
}

::-moz-placeholder {
    color: $gray-300 !important;
}

::-ms-placeholder {
    color: $gray-300 !important;
}

::placeholder {
    color: $gray-300 !important;
}