.page-compare {
    height: 100%;

    & .compute-resource-dynamic-row-outer {
        // height: 640px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

select option[disabled]:first-child {
	display: none;
}